---
import Layout from '../layouts/Layout.astro';
import distritos from '../assets/distritos.png';
---

<Layout title="Distritos" description="En está página está la lista de distritos de este hermoso mundo."/>

	<h1 class="text-center pt-4 text-[var(--primary)]">
			Distritos de Pelee
		</h1>
		<div class="mt-4 ml-4 mr-4">

		<img src={distritos.src} alt="Lista de distritos." class="rounded-lg w-full border-2">

		<table>
			<thead>

				<tr>
					<th>Distrito</th>
					<th>Población</th>
					<th>Descripción</th>
				</tr>

			</thead>
			<tbody>

				<tr>
					<td>Sed</td>
					<td>723,000</td>
					<td>Distrito capital de Pelee</td>
				</tr>

				<tr>
					<td>Captan</td>
					<td>892,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Sonoj</td>
					<td>861,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Luchad</td>
					<td>763,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Teroj</td>
					<td>722,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Radianta</td>
					<td>481,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Naval</td>
					<td>573,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Eŭre</td>
					<td>516,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Ki</td>
					<td>807,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Kondado</td>
					<td>590,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Lundono</td>
					<td>302,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Estatico</td>
					<td>252,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Real</td>
					<td>170,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Jurakano</td>
					<td>894,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Nebula</td>
					<td>913,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Ŭ</td>
					<td>761,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Kuartio</td>
					<td>526,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Kohadran</td>
					<td>182,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Kanoa</td>
					<td>51,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Dolia</td>
					<td>278,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Leŭten</td>
					<td>712,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Ŝtormo</td>
					<td>539,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Nova Ki</td>
					<td>544,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Temburgo</td>
					<td>485,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Gedeon</td>
					<td>72,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>San Ki</td>
					<td>614,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Ligilo</td>
					<td>884,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Anĝeloj</td>
					<td>301,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>Do-Tou</td>
					<td>2,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

				<tr>
					<td>La Digo</td>
					<td>46,000</td>
					<td>Ciudad capital de Pelee</td>
				</tr>

			</tbody>
	</table>

	<br>

</Layout>