---
import Layout from '../layouts/Layout.astro';
import distritos from '../assets/distritos.png';
---

<Layout title="Distritos" description="En está página está la lista de distritos de este hermoso mundo."/>

	<h1 class="text-center pt-4 text-[var(--primary)]">
			Distritos de Pelee
		</h1>
		<div>
		<img src={distritos.src} alt="Lista de distritos.">
	</div>

</Layout>