---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Historia" description="En esta página conocerás la interesante historia de los distritos, las funciones del gobierno y sitios históricos.">
    <h1 class="text-center p-4 text-[var(--primary)]">
        Qué es Pelee?
    </h1>
    <br>
    <p>
        Una ciudad digital en un planeta llamado Drenio. Dentro de este planeta, hay un total de 30 distritos que cada uno tiene una función differente.
    </p>
</Layout>