---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio" description="Bievenido a Pelee. Esta página conocerás este magnífico universo digital."/>

	<h1 class="text-center pt-4 text-[var(--primary)]">
			Bienvenido a Pelee
		</h1>


</Layout>