---
// Datos de los distritos
const distritosData = [
    { distrito: "Sed", poblacion: 723000, descripcion: "Distrito capital de Pelee", departamento: "Central", provincia: "Pelee Norte" },
    { distrito: "Captan", poblacion: 892000, descripcion: "Ciudad capital de Pelee", departamento: "Capital", provincia: "Pelee Norte" },
    { distrito: "Sonoj", poblacion: 861000, descripcion: "Ciudad capital de Pelee", departamento: "Oriental", provincia: "Pelee Este" },
    { distrito: "Luchad", poblacion: 763000, descripcion: "Ciudad capital de Pelee", departamento: "Occidental", provincia: "Pelee Oeste" },
    { distrito: "Teroj", poblacion: 722000, descripcion: "Ciudad capital de Pelee", departamento: "Central", provincia: "Pelee Norte" },
    { distrito: "Radianta", poblacion: 481000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "Naval", poblacion: 573000, descripcion: "Ciudad capital de Pelee", departamento: "Costero", provincia: "Pelee Este" },
    { distrito: "Eŭre", poblacion: 516000, descripcion: "Ciudad capital de Pelee", departamento: "Central", provincia: "Pelee Norte" },
    { distrito: "Ki", poblacion: 807000, descripcion: "Ciudad capital de Pelee", departamento: "Capital", provincia: "Pelee Norte" },
    { distrito: "Kondado", poblacion: 590000, descripcion: "Ciudad capital de Pelee", departamento: "Oriental", provincia: "Pelee Este" },
    { distrito: "Lundono", poblacion: 302000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "Estatico", poblacion: 252000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "Real", poblacion: 170000, descripcion: "Ciudad capital de Pelee", departamento: "Occidental", provincia: "Pelee Oeste" },
    { distrito: "Jurakano", poblacion: 894000, descripcion: "Ciudad capital de Pelee", departamento: "Capital", provincia: "Pelee Norte" },
    { distrito: "Nebula", poblacion: 913000, descripcion: "Ciudad capital de Pelee", departamento: "Capital", provincia: "Pelee Norte" },
    { distrito: "Ŭ", poblacion: 761000, descripcion: "Ciudad capital de Pelee", departamento: "Oriental", provincia: "Pelee Este" },
    { distrito: "Kuartio", poblacion: 526000, descripcion: "Ciudad capital de Pelee", departamento: "Central", provincia: "Pelee Norte" },
    { distrito: "Kohadran", poblacion: 182000, descripcion: "Ciudad capital de Pelee", departamento: "Occidental", provincia: "Pelee Oeste" },
    { distrito: "Kanoa", poblacion: 51000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "Dolia", poblacion: 278000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "Leŭten", poblacion: 712000, descripcion: "Ciudad capital de Pelee", departamento: "Oriental", provincia: "Pelee Este" },
    { distrito: "Ŝtormo", poblacion: 539000, descripcion: "Ciudad capital de Pelee", departamento: "Costero", provincia: "Pelee Este" },
    { distrito: "Nova Ki", poblacion: 544000, descripcion: "Ciudad capital de Pelee", departamento: "Central", provincia: "Pelee Norte" },
    { distrito: "Temburgo", poblacion: 485000, descripcion: "Ciudad capital de Pelee", departamento: "Central", provincia: "Pelee Norte" },
    { distrito: "Gedeon", poblacion: 72000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "San Ki", poblacion: 614000, descripcion: "Ciudad capital de Pelee", departamento: "Oriental", provincia: "Pelee Este" },
    { distrito: "Ligilo", poblacion: 884000, descripcion: "Ciudad capital de Pelee", departamento: "Capital", provincia: "Pelee Norte" },
    { distrito: "Anĝeloj", poblacion: 301000, descripcion: "Ciudad capital de Pelee", departamento: "Occidental", provincia: "Pelee Oeste" },
    { distrito: "Do-Tou", poblacion: 2000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" },
    { distrito: "La Digo", poblacion: 46000, descripcion: "Ciudad capital de Pelee", departamento: "Sur", provincia: "Pelee Sur" }
];
---

<!-- Tabla de distritos -->
    <table>
        <thead>
            <tr>
                <th>Distrito</th>
                <th>Población</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody id="tabla-distritos">
            <tr class="distrito-row" data-distrito="Sed" data-poblacion="723000">
                <td>Sed</td>
                <td>723,000</td>
                <td>Distrito capital de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Captan" data-poblacion="892000">
                <td>Captan</td>
                <td>892,000</td>
                <td>Distrito torre de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Sonoj" data-poblacion="861000">
                <td>Sonoj</td>
                <td>861,000</td>
                <td>Distrito de la monarquía de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Luchad" data-poblacion="763000">
                <td>Luchad</td>
                <td>763,000</td>
                <td>Distrito de la última lucha de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Teroj" data-poblacion="722000">
                <td>Teroj</td>
                <td>722,000</td>
                <td>Distrito del pasado de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Radianta" data-poblacion="481000">
                <td>Radianta</td>
                <td>481,000</td>
                <td>Distrito desértico de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Naval" data-poblacion="573000">
                <td>Naval</td>
                <td>573,000</td>
                <td>Distrito marítimo de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Eŭre" data-poblacion="516000">
                <td>Eŭre</td>
                <td>516,000</td>
                <td>Distrito agrícola de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Ki" data-poblacion="807000">
                <td>Ki</td>
                <td>807,000</td>
                <td>Distrito oriental de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Kondado" data-poblacion="590000">
                <td>Kondado</td>
                <td>590,000</td>
                <td>Distrito de los mekas de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Lundono" data-poblacion="302000">
                <td>Lundono</td>
                <td>302,000</td>
                <td>Distrito armonía de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Estatico" data-poblacion="252000">
                <td>Estatico</td>
                <td>252,000</td>
                <td>Distrito más frío de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Real" data-poblacion="170000">
                <td>Real</td>
                <td>170,000</td>
                <td>Distrito médico de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Jurakano" data-poblacion="894000">
                <td>Jurakano</td>
                <td>894,000</td>
                <td>Distrito volcánico de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Nebula" data-poblacion="913000">
                <td>Nebula</td>
                <td>913,000</td>
                <td>Distrito tecnológico de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Ŭ" data-poblacion="761000">
                <td>Ŭ</td>
                <td>761,000</td>
                <td>Distrito lujuria de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Kuartio" data-poblacion="526000">
                <td>Kuartio</td>
                <td>526,000</td>
                <td>Distrito de la luz de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Kohadran" data-poblacion="182000">
                <td>Kohadran</td>
                <td>182,000</td>
                <td>Distrito del ferrocaril de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Kanoa" data-poblacion="51000">
                <td>Kanoa</td>
                <td>51,000</td>
                <td>Distrito forestal de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Dolia" data-poblacion="278000">
                <td>Dolia</td>
                <td>278,000</td>
                <td>Distrito lujoso de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Leŭten" data-poblacion="712000">
                <td>Leŭten</td>
                <td>712,000</td>
                <td>Distrito de la suerte de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Ŝtormo" data-poblacion="539000">
                <td>Ŝtormo</td>
                <td>539,000</td>
                <td>Distrito del motor de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Nova Ki" data-poblacion="544000">
                <td>Nova Ki</td>
                <td>544,000</td>
                <td>Distrito del pequeño oriente de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Temburgo" data-poblacion="485000">
                <td>Temburgo</td>
                <td>485,000</td>
                <td>Distrito bancario de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Gedeon" data-poblacion="72000">
                <td>Gedeon</td>
                <td>72,000</td>
                <td>Microdistrito de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="San Ki" data-poblacion="614000">
                <td>San Ki</td>
                <td>614,000</td>
                <td>Distrito hermano de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Ligilo" data-poblacion="884000">
                <td>Ligilo</td>
                <td>884,000</td>
                <td>Distrito industrial de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Anĝeloj" data-poblacion="301000">
                <td>Anĝeloj</td>
                <td>301,000</td>
                <td>Distrito aéreo de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="Do-Tou" data-poblacion="2000">
                <td>Do-Tou</td>
                <td>2,000</td>
                <td>Distrito más antiguo de Pelee</td>
            </tr>
            <tr class="distrito-row" data-distrito="La Digo" data-poblacion="46000">
                <td>La Digo</td>
                <td>46,000</td>
                <td>Distrito plaza de Pelee</td>
            </tr>
        </tbody>
    </table>