---
import Header from '../components/Header.astro'
import favicon from '../assets/Esperanto(1).svg';
const { title } = Astro.props;
const { description } = Astro.props;
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---


<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta name="description" content={description}>

		<link rel="icon" type="image/svg+xml" href={favicon.src} />



	</head>
	 <body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
        <Header />
        <main style="flex: 1;">
            <slot />
        </main>
        <Footer />
    </body>
</html>

